#container {
background: Gray;
}

#story {
position: absolute;
left: 1%;
top: 10px;
right: 50%;
bottom: 30%;
padding: 10px;
background: GreenYellow;
}

#info {
position: absolute;
left: 50%;
top: 1%;
right: 20%;
bottom: 60%;
padding: 10px;
background: Ivory;
}

#buttons{
position: absolute;
left: 50%;
top: 40%;
right: 20%;
bottom: 30%;
padding: 10px;
background: Red;
}

#inventory {
position: absolute;
left: 80%;
top: 1%;
right: 1%;
bottom: 30%;
padding: 10px;
background: AntiqueWhite;
}

#reaction {
position: absolute;
left: 1%;
top: 70%;
right: 20%;
bottom: 1%;
padding: 10px;
background: BlueViolet;
}

p{
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1{
}

h2{
}

h3{
}
